body { margin: 0 auto; max-width: 900px; padding: 1em; }
header { text-align: center; margin: 0.5em 0; font-family:sans-serif; overflow:auto; }
a { text-decoration:none; }
h1 { visibility: hidden; font-size: 0; margin: 0; }
h2 { font-size: 1.5rem; font-weight: 300; }
footer { text-align: center; margin-top:1.5em; }
footer p { font-size: 0.75rem; }
main { display: flex; }
#controls { flex: 1; margin-right: 20px; font-size: 0.8rem; flex-grow:99; background-color: rgba(255, 204, 77); border-radius: 1em; padding: 1em; margin-bottom: 30px;}
#graph { flex: 1; }
