header { height: 4em; margin: 1em 0; font-family:sans-serif; overflow:none; }
header h1 { visibility: hidden; font-size: 0; margin: 0; }
.logo, header h2 { float: left; }
.logo { height: 100%; margin: 0; }
header h2 { margin: 0.9em 0 0 0.5em;}
