<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Oil Price Day | oilprice.day</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="icon" href="{{ url_for('static', path='/favicon.ico') }}" sizes="any">
    <link rel="icon" href="{{ url_for('static', path='/logo.svg') }}" type="image/svg+xml">
    <link href="{{ url_for('static', path='/normalize.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', path='/d3.v6.js') }}"></script>
  </head>
  <body>
      <header>
        <a href="#">
          <h1>Oil Price Day</h1>
	  <img src="{{ url_for('static', path='/logo.svg') }}" />
	</a>
        <h2>Daily Oil Prices</h2>
      </header>
      <main>
        <div id="controls">
          <form action="/action_page.php">
            <select name="cars" id="cars">
              {% for c in crude %}
              <option value="{{c.label}}">{{c.label}}</option>
              {% endfor %}
            </select>
          </form>
	  <p>
	    country: United States <br />
	    last price: <code>110.37</code>
	  </p>
	</div>
        {% for c in crude %}
	<div id="graph"></div>
<script>

const margin = {top: 0, right: 30, bottom: 30, left: 0},
    width = 700 - margin.left - margin.right,
    height = 400 - margin.top - margin.bottom;

const svg_{{c.label}} = d3.select("#graph")
  .append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", `translate(${margin.left},${margin.top})`);

d3.json("/crude/{{c.label}}/history").then(function(data) {
  data.forEach(function(d) {
    //d.date = d3.timeParse("%Y-%m-%dT:00:00")(d.date);
    d.date = d3.timeParse("%Y-%m-%dT00:00:00")(d.date);
    d.price = +d.price;
    return d;
  });

  const x = d3.scaleTime()
    .domain(d3.extent(data, function(d) { return d.date; }))
    .range([ 0, width ]);
  svg_{{c.label}}.append("g")
    .attr("transform", `translate(0, ${height})`)
    .call(d3.axisBottom(x));

  const y = d3.scaleLinear()
    .domain([0, d3.max(data, function(d) { return +d.price; })])
    .range([ height, 0 ]);
  svg_{{c.label}}.append("g")
    .attr("transform", `translate(${width}, 0)`)
    .call(d3.axisRight(y));

  svg_{{c.label}}.append("path")
    .datum(data)
    .attr("fill", "none")
    .attr("stroke", "#3b88c3")
    .attr("stroke-width", 1.5)
    .attr("d", d3.line()
      .x(function(d) { return x(d.date) })
      .y(function(d) { return y(d.price) })
      )

})
</script>
      {% endfor %}

    </main>
    <footer>
      <p>
        Powered by <a href="https://fastapi.tiangolo.com/" target="_blank">FastAPI</a>, <a href="https://reactjs.org/" target="_blank">React.js</a>, <a href="https://d3js.org/" target="_blank">D3.js</a> and <a href="https://aws.amazon.com/" target="_blank">AWS</a><br />
        Built, operated, and designed by <a href="https://markesler.com" target="_blank" title="Mark Esler">Mark Esler</a>
      </p>
    </footer>
  </body>
</html>
